@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    height: 100%;
    scroll-behavior: smooth;
    @apply bg-neutral-900 text-neutral-200;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-extended {
    font-family: 'Encode Sans Expanded', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    /* color: red !important; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

#singularity-gradient-colors {
    --gradient-color-1: #5b1365;
    --gradient-color-2: #240649;
    --gradient-color-3: #090738;
    --gradient-color-4: #186076;
}
#creditum-gradient-colors {
    --gradient-color-1: #b69322;
    --gradient-color-2: #c79800;
    --gradient-color-3: #fff562;
    --gradient-color-4: #c58115;
}

#blue-gradient {
    --gradient-color-1: #322f58;
    --gradient-color-2: #63beff;
    --gradient-color-3: #23222e;
    --gradient-color-4: #aaa4fd;
}

#purple-gradient {
    --gradient-color-1: #322f58;
    --gradient-color-2: #575298;
    --gradient-color-3: #23222e;
    --gradient-color-4: #9189ff;
}

#purple-gradient-b {
    --gradient-color-1: #9189ff;
    --gradient-color-2: #322f58;
    --gradient-color-3: #aaa4fd;
    --gradient-color-4: #23222e;
}
